@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

@keyframes rotateText {
  0%, 20%, 80%, 100% { opacity: 0; }
  40%, 60% { opacity: 1; }
}

.rotate {
  animation: rotateText 3s infinite;
}